/* UTILITIES */

.hidden
{
    display:none;
}

.gallery-block
{
    position:relative;
    width:139px;
    float:left;
    margin-bottom:10px;
    margin-left:10px;
}

.gallery-controls
{
    position:absolute;
    top:0;
    right:0;
    background-color:rgba(500,500,500,0.5);
}

#cover_image_thumb
{
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.editable-image{
    cursor:pointer;
}

.editable-image:hover{
    box-shadow: 5px 5px #aaa;
}

.panel-title
{
    float:left;
    text-transform:capitalize;
    margin-top: 9px;
    font-size: 1.4em;
}
