#atualize{
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: white;
    display: none;
    margin-top: 30px;
}

.ie7 #atualize{
    width:100%;
    float:left;
    background-color:#ffffff;
    padding:15px 0px;
    border-top:2px solid #000000;
    border-bottom:2px solid #000000;
    display: block
}

.ie7 #atualize .centralizar-atualize{
    width:990px;
    margin:0 auto;
}

.ie7 #atualize img{
    float:left;
    margin-right:75px;
}

.ie7 #atualize #texto-atualize{
    float:left;
    padding-left:50px;
}

.ie7 #atualize h2{
    font-size:2.5em;
    text-transform: uppercase;
    color:#666666;
    margin-bottom:10px;
}

.ie7 #atualize p{
    color:#666666;
    font-size:13px;
    line-height:150%;
}

.ie7 #atualize #browsers{
    clear:both;
}

.ie7 #atualize #browsers li{
    width:70px;
    float:left;
    text-align: center;
    margin-left:35px;
    list-style: none;
    margin-top:10px;
}

.ie7 #atualize #browsers li img{
    width: 70px;
    margin: 0px 25px;
}

.ie7 #atualize #browsers h3{
    width: 70px;
    clear:both;
    font-size:1.2em;
    font-weight:400;
    margin-top:10px;
    margin: 0px 25px;
}