// Breakpoints with SASS
 
// Screen sizes
$xsmall-screen: 700px;
$small-screen: 769px;
$medium-screen: 1024px;
$large-screen: 1440px;
$xlarge-screen: 1920px;
 
// Ranges
$xsmall: "only screen";
$xsmall-only: "only screen and (max-width:#{$xsmall-screen})";

$small: "only screen and (min-width:#{$xsmall-screen + 1})";
$small-only: "only screen and (min-width:#{$xsmall-screen + 1}) and (max-width:#{$small-screen})";

$medium: "only screen and (min-width:#{$xsmall-screen + 1})";
$medium-only: "only screen and (min-width:#{$xsmall-screen + 1}) and (max-width:#{$medium-screen})";

$large: "only screen and (min-width:#{$medium-screen + 1})";
$large-only: "only screen and (min-width:#{$medium-screen + 1}) and (max-width:#{$large-screen})";

$xlarge: "only screen and (min-width:#{$large-screen + 1})";
$xlarge-only: "only screen and (min-width:#{$large-screen + 1}) and (max-width:#{$xlarge-screen})";

$xxlarge: "only screen and (min-width:#{$xlarge-screen + 1})";