#mensagem-retorno{
    width: 100%;
    float: left;
    padding: 10px 0px;
    border: 1px solid;
    margin: 15px 0px;
    text-align: center;        
}

#mensagem-retorno.sucesso{
    background-color: #d5ffce;
    border-color: #9adf8f;
}

#mensagem-retorno.preencher{
    background-color: #fffbcc;
    border-color: #e6db55;    
}

#mensagem-retorno.erro{
    background-color: #ffcece;
    border-color: #df8f8f;    
}

#mensagem-retorno p{
    padding: 5px 15px;
    color: #333333;
    font-size: 13px;
}