@charset "utf-8";

html {
    font-size: 16px;
}

html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	font-family: inherit; 
	font-style: inherit;
	outline: 0; 
	padding: 0;
	margin: 0;
	border: 0;
}

a{
	text-decoration:none;
}

figure{
	padding:0;
	margin:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}