@import 'reset';

@import 'atualize';

@import 'notification';

@import 'mixins';

@import 'breakpoints-media_queries';

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


@font-face {
    font-family: "Museo";
    src: url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/3b3d99a2-6b36-4912-a93e-29277020a5cf.eot?#iefix");
    src: url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/3b3d99a2-6b36-4912-a93e-29277020a5cf.eot?#iefix") format("eot"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/28d74e9b-4ea9-4e3c-b265-c67a72c66856.woff") format("woff"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/b432b4e1-014a-4ed8-865c-249744f856b0.ttf") format("truetype"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/8e63fd1e-adc9-460e-9ef7-bbf98ee32a71.svg#8e63fd1e-adc9-460e-9ef7-bbf98ee32a71") format("svg");
}

@font-face {
    font-family: "Museo-Slab";
    src: url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/01ab709f-22cf-4831-b24a-8cf4eb852687.eot?#iefix");
    src: url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/01ab709f-22cf-4831-b24a-8cf4eb852687.eot?#iefix") format("eot"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/cacc0862-f146-4746-92b1-60e6114a66c4.woff") format("woff"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/54006f54-b61e-4103-abf8-b1d0294a2a9c.ttf") format("truetype"),url("http://static.wix.com/services/third-party/fonts/user-site-fonts/fonts/e5841f2e-b306-4583-bfc3-a0e06742fedd.svg#e5841f2e-b306-4583-bfc3-a0e06742fedd") format("svg");
}

%roboto-slab {font-family: 'Roboto Slab', serif}
%kelly-slab  {font-family: 'Kelly Slab', serif}
%helvetica   {font-family: 'Helvetica', sans-serif};
%open-sans   {font-family: 'Open Sans', sans-serif};

/* Colors */
$gray-3: rgba(2, 2, 2, 0.6);
$gray-2: #F6F6F5;
$gray: #443F3F;
$light-gray: #e5e5e5;
$pink: #F00C6F;
$pink-2: #F581B3;
$blue: #42C5BE;
$white: #FFFFFF;

%font-size-7{font-size:0.7em}
%font-size-8{font-size:0.8em}
%font-size-9{font-size:0.9em}
%font-size-10{font-size:1em}
%font-size-11{font-size:1.1em}
%font-size-12{font-size:1.2em}
%font-size-13{font-size:1.3em}
%font-size-14{font-size:1.4em}
%font-size-15{font-size:1.5em}
%font-size-16{font-size:1.6em}
%font-size-17{font-size:1.7em}
%font-size-18{font-size:1.8em}
%font-size-19{font-size:1.9em}
%font-size-20{font-size:2em}
%font-size-21{font-size:2.1em}
%font-size-22{font-size:2.2em}
%font-size-24{font-size:2.4em}
%font-size-25{font-size:2.5em}
%font-size-26{font-size:2.6em}
%font-size-27{font-size:2.7em}
%font-size-28{font-size:2.8em}
%font-size-29{font-size:2.9em}
%font-size-30{font-size:3em}
%font-size-31{font-size:3.1em}
%font-size-32{font-size:3.2em}
%font-size-33{font-size:3.3em}
%font-size-34{font-size:3.4em}
%font-size-35{font-size:3.5em}
%font-size-40{font-size:4em}
%font-size-42{font-size:4.2em}
%font-size-44{font-size:4.4em}
%font-size-45{font-size:4.5em}
%font-size-55{font-size:5.5em}
%font-size-60{font-size:6em}
%font-size-70{font-size:7em}
%font-size-80{font-size:8em}

%line-height-100{line-height:100%}
%line-height-150{line-height:150%}
%line-height-180{line-height:180%}
%line-height-200{line-height:200%}
%line-height-250{line-height:250%}

%left{float:left}
%right{float:right}
%float-none{float:none}
%center{margin:0 auto}
%height-auto{height:auto}

%overflow-hidden{overflow:hidden}
%overflow-y-auto{overflow-y:auto}
%overflow-x-auto{overflow-x:auto}
%overflow-x-hidden{overflow-x:hidden}
%overflow-y-hidden{overflow-y:hidden}

%capitalize{text-transform:capitalize}
%uppercase{text-transform:uppercase}
%lowercase{text-transform:lowercase}
%text-transform-none{text-transform:none}

%text-decoration-underline{text-decoration:underline}
%text-decoration-none{text-decoration:none}

%text-center{text-align:center}
%text-left{text-align:left}
%text-right{text-align:right}

%display-inline{display:inline}
%display-block{display:block}
%display-none{display:none}
%display-inline-block{display:inline-block}

%background-no-repeat{background-repeat:no-repeat;}
%background-fixed{background-attachment:fixed;}
%background-100{background-size:100%}
%full-img{max-width: 100%;height: auto;}
%full-img-total{width:100%;height: auto}

%transition-all{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

%z-index-1{z-index:1}
%z-index-2{z-index:2}

%list-style-none{list-style:none}

%vertical-middle{vertical-align: middle;}

%cursor-pointer{cursor:pointer}

%reset-border{border:0px;}
%reset-padding{padding:0px;}
%reset-margin{margin:0px;}

%visibility{visibility:visible}
%visibility-hidden{visibility:hidden}

%absolute{position:absolute;}
%relative{position:relative;}
%fixed{position:fixed;}
%clear{clear:both}
%clear-none{clear:none}
%overflow-auto{overflow:auto}
%border-0{border:0px;}

%normal{font-weight:400}
%bold{font-weight:700}
%medium{font-weight:500}
%light{font-weight:300}
%extra-light{font-weight: 100}

%full{width:100%;@extend %left;}

h1, h2, h3{@extend %normal;}

a:hover {
    text-decoration: none;
}

input[type="submit"]{
    @extend %cursor-pointer;
    -webkit-appearance: none;
}

*{box-sizing:border-box}

.clear {
    @extend %clear;
}

.no-padding {
    padding: 0;
}

body {
    @extend %roboto-slab;
	font-size:62.5%;
}

header {
    @extend %font-size-14;
    width: 100%;
    background-color: $white;
    position: fixed;
    z-index: 2;

    section.top {
        float: right;
        margin: 16px 50px;
        color: $gray;
        vertical-align: middle;

        ul {
            @extend %uppercase;
            font-weight: 100;
            list-style: none;

            li {
                @extend %left;
                a {
                    @include transition(color 400ms linear);
                    color: $gray;
                }
                a:hover {
                    color: $pink;
                }

                .separator {
                    margin: 0px 20px;
                    color: $pink;
                    font-weight: 500;
                }
            }

            li:last-child {
                a{color:$pink;}
                color: $pink;
            }
        }
    }

    section.menu {
        background-color: $gray;
        border-bottom: 8px solid $blue;

        div.center {
            width: 1280px;
            margin: 0 auto;
            padding: 12px;

            figure#logo {
                @extend %left;

                img {
                    @extend %left;
                }

                figcaption {
                    @extend %kelly-slab;
                    @extend %uppercase;
                    @extend %font-size-40;
                    margin-left: 10px;
                    @extend %left;
                    color: $white;
                }
            }

            nav {
                @extend %helvetica;
                @extend %uppercase;
                @extend %right;
                right: 10px;

                ul {
                    li {
                        @extend %font-size-9;
                        @extend %left;
                        @extend %list-style-none;
                        margin: 27px 10px;
                        a {
                            @include transition(color 400ms linear);
                            color:$white;
                        }
                        a:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}

.half {
    width: 49%;
    margin: 0 0.5%;
}

.circled {
    border: 1px solid $gray;
    @include border-radius(50%);
    padding: 1%;
}

section#content {
    padding-top: 164px;

    section#banner {
        padding: 48px;

        article {
            width: 600px;
            margin: 0 auto;
            padding: 8px;
            text-align: center;
            color: $white;
        }

        article.opacity {
            background-color: rgba(2, 2, 2, 0.4);

            h1 {
                @extend %font-size-45;
                font-weight: 100;
            }

            p {
                @extend %font-size-20;
                font-weight: 100;
            }

            .pink {
                @extend %font-size-14;
                color: $pink-2;
            }

            .blue {
                @extend %font-size-14;
                color: $blue;
            }
        }
        article.features{
            width: 800px;
            h1{
                @extend %kelly-slab;
                font-size: 72px;
                border-bottom: solid 4px $pink;
            }
            p{
                font-size: 60px;
            }
        }

        article.outlet{
            margin-top: 80px;
            width: 800px;
            h1{
                color:$pink!important;
                font-size: 8em;
            }
            strong{
                display: block;
                font-size: 2.5em;
                font-weight: 100;
            }
            b.blue{
                font-weight: 100;
                color:$blue;
            }
            ul{
                width: 900px;
                li{
                    margin: 0px 40px;
                    @extend %open-sans;
                    float: left;
                    font-size: 2.7em;
                    display: inline;
                    text-align: center;
                    width: 35%;
                    
                }
            }
            p{
                display: block;
                text-align: center;
                @extend %open-sans;
                font-size: 3.2em;
                padding-bottom: 10px;
            }

        }

        article.faq{
            width: 800px;
            padding: 10px 90px;
            h1{

                font-size: 6em;
            }
            p{
                text-align: center;
                font-size: 2.4em;
            }
        }
        article.license{
            width: 1000px;
            margin: 45px auto;
            h1{
                color:$blue!important;
                font-weight: 100;
                font-size: 8.2em;
            }
            p{
                font-weight: 100;
                font-size: 2.5em;
            }
        }

        article.search {
            margin-top: 16px;

            input {
                @extend %font-size-14;
                @extend %uppercase;
                width: 80%;
                background-color: transparent;
                padding: 5px 10px;
                font-weight: 700;
                @include transition(all 400ms linear);
                border: 3px solid $white;
                color: $white;
                outline: none;
            }

            input:hover, input:focus {
                border: 3px solid $blue;
                color: $blue;
            }
        }
    }

    .white {
        background-color: $white;
    }

    div.blue{
        background-color: $blue;
    }

    .gray {
        background-color: $gray-2;
    }

    .black{
        background-color: $gray;
    }
    .gray-3{
        background-color: $gray-3;
    }

    .border-white{
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 20px solid $white;
    }

    .border-black{
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 20px solid $gray;
    }

    .border-gray{
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 20px solid $gray-2;
    }

    .border-blue{
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 20px solid $blue;
    }



    .triangle{
        margin: -16px auto 0 auto;
        width: 45px;
        height: 10px;
        padding-bottom: 20px;
    }
    .end-outlet{
        margin-top: 20px;
        min-height: 70px;
    }
    div.border-line{
        margin: 0 auto;
        border-bottom: solid 4px $gray;
        width: 80%
    }

    div.border-line-top-small{
        margin: 0 auto;
        border-top: solid 4px $gray;
        width: 100%;
    }

    div.border-line-top{
        margin: 0 auto;
        border-top: solid 8px $gray;
        width: 100%;
    }

    div.center {
        width: 1024px;
        margin: 0 auto;
        padding: 16px 0;

        h1 {
            @extend %helvetica;
            @extend %font-size-35;
            @extend %uppercase;
            text-align: center;
            color: $blue;
        }
        h1.features{
            text-transform: none;
            @extend %roboto-slab;
            color: $gray;
        }

        figure.title, figure.title-features{
            margin: 0 auto;
            padding: 0 15%;

            img {
                @extend %left;
                width: 72px;
            }

            figcaption {
                @extend %kelly-slab;
                @extend %left;
                @extend %uppercase;
                @extend %font-size-60;
                text-align: center;
                color: $gray;
            }
        }

        figure.title-license{
            margin: 0 auto;
            padding: 0 5%;
            img {
                @extend %left;
                width: 80px;
            }
            figcaption{
                @extend %kelly-slab;
                @extend %left;
                @extend %uppercase;
                @extend %font-size-70;
                color: $blue;
            }
        }
        figure.title-features{
            padding: 0 2%;
        }

        section.open-mix{
            font-size: 2em;
            @extend %open-sans;
            figure.inner-text{
                margin: 0;
                width: 600px;
                float:left;
                img{
                    vertical-align: -2px;
                    margin: 10px;
                    width: 550px;
                }

            }
            p{
                display: block;
                padding: 10px 0;
            }
        }

        section.license{
            h1{
                color: $gray!important;
                @extend %open-sans;
                text-transform: none;
                font-size: 4.5em;
            }
            h2{
                color: $gray!important;
                @extend %open-sans;
                text-transform: none;
                font-size: 3.5em;
                text-align: center;
                margin-top: 20px;
            }
            ul.blue-big{
                margin: 0 auto;
                width: 100%;
                li{
                    @extend %open-sans;
                    color: $blue;
                    font-weight: 800;
                    cursor:pointer;
                    text-decoration: none;
                    text-transform: uppercase;
                    list-style: none;
                    float: left;
                    display: block;
                    margin: 40px 20px;
                    font-size: 2.6em;
                    width: 300px;
                    padding: 10px 0;
                    text-align: center;
                    box-shadow: inset 0 0 0 4px $blue, 0 0 1px rgba(0, 0, 0, 0);
                    -webkit-transition: 0.3s ease-in;
                    -moz-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                    transition: 0.3s ease-in;
                }
                li:hover{
                    color: $pink;
                    -webkit-transition: 0.3s ease-in;
                    -moz-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                    transition: 0.3s ease-in;
                }
            }

            ul.black-small{
                margin: 0 auto;
                width: 800px;
                li{
                    @extend %open-sans;
                    color: $gray;
                    font-weight: 700;
                    cursor:pointer;
                    text-decoration: none;
                    text-transform: uppercase;
                    list-style: none;
                    float: left;
                    display: block;
                    margin: 20px 32px;
                    font-size: 1.6em;
                    width: 200px;
                    padding: 10px 0;
                    text-align: center;
                    box-shadow: inset 0 0 0 4px $gray, 0 0 1px rgba(0, 0, 0, 0);
                    -webkit-transition: 0.3s ease-in;
                    -moz-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                    transition: 0.3s ease-in;
                }
                li:hover{
                    color: $blue;
                    box-shadow: inset 0 0 0 4px $blue, 0 0 1px rgba(0, 0, 0, 0);
                    -webkit-transition: 0.3s ease-in;
                    -moz-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                    transition: 0.3s ease-in;
                }

            }
        }

        section.sound-effects, section.logo-audio{
            h1{
                @extend %uppercase;
                @extend %kelly-slab;
                @extend %font-size-60;
                color: $white!important;
            }
            p{
                color: $white!important;
                text-align: center;
                @extend %open-sans;
                @extend %font-size-26;
                padding: 20px 10%;
                font-weight: 100;
            }
        }
        section.logo-audio{
            img{
                width: 90px;
                margin: 0 20px;
            }
            p{
                padding: 20px 5%;
            }
        }
        section.outlet-prime{
            h1{
                color:$gray!important;
                @extend %kelly-slab;
                font-size: 6.5em;
            }
            p{
                @extend %roboto-slab;
                text-align: center;
                font-size: 3em;
            }
            div.price{
                width: 832px;
                height: 240px;
                margin: 10px auto;

                article{
                    width: 1000px;
                    height: 200px;
                    margin: 0px auto;
                }

                ul{
                    color: $white;
                    margin: 0 30px;
                    li{
                        margin: 35px 40px;
                        @extend %open-sans;
                        float: left;
                        font-size: 2.7em;
                        display: inline;
                        text-align: center;
                        h2{
                            font-size: 3em;
                            padding: 10px 0;
                            strong{
                                color: $blue;
                            }
                        }
                    }
                }
                ul.opacity{
                    background-color: rgba(2, 2, 2, 0.4);
                    width: 760px;
                    height: 240px;
                }
            }
        }

        section.solution{
            @extend %roboto-slab;
            color: $white!important;
            h1{
                @extend %roboto-slab;
                color: $white!important;
                font-size: 5.8em;
                font-weight: 100;
                padding: 10px 0 40px 0;
                text-transform: none;
            }

            p{
                padding: 10px 0;
                font-size: 1.6em;
            }

            .border-bottom-white{
                width: 100%;
                border-bottom: 3px solid $white;
                margin-bottom: 50px;
                h1{
                    text-align: left;
                    padding: 0;
                }
            }
            ul{
                margin: 0 auto;
                width: 100%;

                li{
                    text-decoration: none;
                    margin: 0 17px;
                    list-style: none;
                    float: left;
                    display: block;
                    width: 30%;
                    figure{
                        width: 164px;
                        height: 100px;
                        margin: 0 auto;
                        padding-bottom: 20px;
                        img{
                            margin: 0 auto;
                        }
                    }
                    p{
                        font-size: 1.4em;
                    }

                    div{
                        margin: 0 auto;
                        font-size: 1.6em;
                        width: 180px;
                        padding: 10px 0;
                        text-align: center;
                        @extend %helvetica;
                        margin-bottom: 20px;
                        -webkit-transform: translateZ(0);
                          transform: translateZ(0);
                          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                          -webkit-backface-visibility: hidden;
                          backface-visibility: hidden;
                          -moz-osx-font-smoothing: grayscale;
                          -webkit-transition-duration: 0.3s;
                          transition-duration: 0.3s;
                          -webkit-transition-property: box-shadow;
                          transition-property: box-shadow;
                          box-shadow: inset 0 0 0 2px $white, 0 0 1px rgba(0, 0, 0, 0);
                    }
                    div:hover{
                        box-shadow: inset 0 0 0 2px #000000, 0 0 1px rgba(0, 0, 0, 0);
                        color: #000000;
                        cursor: pointer;
                    }
                }
            }
            
        }

        section.licence{
            color: $gray!important;
            @extend %roboto-slab;

            h1{
                color: $gray!important;
                font-size: 4em;
                @extend %roboto-slab;
                font-weight: 100;
                padding: 20px 0;
            }
            p{
                text-align: center;
                @extend %roboto-slab;
                font-weight: 100;
                font-size: 2.6em;
            }
        }

        section.licence-info{
            color: $gray!important;
            @extend %roboto-slab;

            h1{
                color: $gray!important;
                text-align: left;
                font-size: 2.4em;
                @extend %roboto-slab;
                font-weight: 100;
                padding: 20px 0;
            }
            p{
                text-align: left;
                @extend %roboto-slab;
                font-weight: 100;
                font-size: 1.8em;
            }
            table{
                width: 980px;
                margin: 0 auto;
                font-size: 1.7em;
                th, tr, td{
                    padding: 4px;
                    border: 3px solid $gray-2;
                }
                th{
                    color:$white!important;
                    background-color: $gray;
                    width: 210px;
                    text-align: center;
                    font-weight: 100;
                    strong{
                        font-weight: 100;
                        font-size: 1.4em;
                    }
                }
                th:nth-child(1){
                    width: 284px;
                }
                td{
                    background-color: rgba(2, 2, 2, 0.14);
                    padding: 10px;
                    font-weight: 100;
                }
                td.blue{
                    color: $blue;
                    font-size: 2em;
                }
                td.pink{
                    color: $pink;
                    font-size: 2em;
                    font-weight: 100;
                }
                td.center{
                    text-align: center;
                }

            }
        }

        section.prime-jingles-features{
            height: 500px;
            figure{
                margin: 150px auto 0 auto;
                width: 95%;
                img{
                    width: 110px;
                }
                figcaption{
                    color: $blue!important;
                    font-size: 9em;
                }
            }
            article{
                width: 712px;
                margin: 0 auto;
                padding: 10px 30px;
                text-align: center;
                h2{
                    @extend %roboto-slab;
                    font-weight: 100;
                    color: $white!important;
                    padding: 40px 0;
                    font-size: 4em;
                }
                h1{
                    @extend %roboto-slab;
                    font-weight: 100;
                    color: $white!important;
                    font-size: 5em;
                    text-transform: none;
                    padding-bottom: 40px;
                }
            }

            article.opacity {
                background-color: rgba(2, 2, 2, 0.4);
            }
            div.caption{
                background-color: $blue;
                width: 712px;
                margin: 0 auto;
                text-align: center;
                color:$gray;
                font-size: 3.6em;
                font-weight: 100;
                strong{
                    font-weight: 100;
                }
                .font-pink{
                    color: $pink!important;
                }
                .font-white{
                    color: $white!important;
                }
            }
        }

        section.connect{
            margin-top: 100px;
            h1{
                @extend %roboto-slab;
                font-weight: 100;
                color: $gray!important;
                text-transform: none;
                font-size: 4em;
            }
        }

        section.end-features{
            width: 85%;
            margin: 20px auto;
            p{
                @extend %roboto-slab;
                font-weight: 100;
                font-size: 1.5em;
                padding-bottom: 20px;
            }
            div.icons{
                width: 400px;
                margin: 0 auto;
                a{
                    figure{
                        display:inline;
                    }
                }
            }
        }

        section.contact{
            margin: 30px 40px;
            div.contact-info{
                width: 300px;
                float:left;
                h1, h2{
                    text-align: left;
                }
                h1{
                    @extend %roboto-slab;
                    color: $white!important;
                    text-transform: none;
                    font-size: 4.6em;
                    font-weight: 100;
                    padding-bottom:20px; 
                }
                h2{
                    color:$blue!important;
                    font-weight: 100;
                    font-size: 2.2em;
                    padding-bottom: 20px;
                }
                address{
                    @extend %helvetica;
                    color: $white;
                    font-size: 1.4em;
                }
            }
            div.icones{
                margin-top: 20px;
                a{
                    figure{
                        display: inline;
                    }
                }

            }
            iframe{
                float: right;
            }
        }
        section.frequent-ask-questions{
            h1{
                @extend %roboto-slab;
                text-transform: none;
                font-weight: 100;
                font-size: 5.3em;
                padding: 20px 0 50px 0;
            }
            ul{
                margin: 0 auto;
                width: 100%;

                li{
                    text-decoration: none;
                    margin: 0 5px;
                    list-style: none;
                    float: left;
                    display: block;

                    div{
                        margin: 0 auto;
                        font-size: 1.6em;
                        width: 160px;
                        padding: 10px 0;
                        text-align: center;
                        @extend %helvetica;
                        margin-bottom: 20px;
                        -webkit-transform: translateZ(0);
                          transform: translateZ(0);
                          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                          -webkit-backface-visibility: hidden;
                          backface-visibility: hidden;
                          -moz-osx-font-smoothing: grayscale;
                          -webkit-transition-duration: 0.3s;
                          transition-duration: 0.3s;
                          -webkit-transition-property: box-shadow;
                          transition-property: box-shadow;
                          box-shadow: inset 0 0 0 2px $gray, 0 0 1px rgba(0, 0, 0, 0);
                    }
                    div:hover{
                        box-shadow: inset 0 0 0 2px $pink, 0 0 1px rgba(0, 0, 0, 0);
                        color: #000000;
                        cursor: pointer;
                    }
                }
            }
        }

        section.licence-faq{
            h1{
                @extend %roboto-slab;
                text-transform: none;
                font-weight: 100;
                font-size: 5em;
                color: $gray;
                padding-bottom: 10px;
            }
            p{
                @extend %roboto-slab;
                font-weight: 100;
                font-size: 2.6em;
                padding-bottom: 20px;
                text-align: center;
                padding: 5px 15px;

            }
        }
        div.triangle-faq{
            margin: 0 auto;
            width: 45px;
            height: 10px;
            padding-bottom: 20px;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 20px solid $gray;
            background-color: $gray-2;

        }

        section.introduction{
            width: 90%;
            margin: 20px auto 0 auto;
            figure{
                float: left;
                img{
                    width: 120px;
                }
            }
            h1, p{
                margin-left: 30px;
            }
            h1{
                float: left;
                @extend %roboto-slab;
                @extend %font-size-40;
                margin-top: 10px;
                font-weight: 100;
                color: $gray;
                text-transform: none;
            }
            p{
                float: left;
                @extend %roboto-slab;
                @extend %font-size-14;
                font-weight: 100;
                color: $gray;
                width: 80%;
            }
        }

        section.quick-links{
            width: 80%;
            margin: 10px auto 20px auto;
            h1{
                @extend %roboto-slab;
                @extend %font-size-40;
                font-weight: 100;
                text-transform: none;
                color: $gray;
                float: left;
                strong{
                    font-weight: 1;
                }
            }
            a{
                margin-left: 20px;
            }

            a div{
                margin: 0 auto;
                display: inline-block;
                font-size: 1.6em;
                width: 200px;
                color: $gray;
                padding: 10px 0;
                text-align: center;
                @extend %roboto-slab;
                margin-bottom: 20px;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: box-shadow;
                transition-property: box-shadow;
                box-shadow: inset 0 0 0 4px $gray, 0 0 1px rgba(0, 0, 0, 0);
            }
            a div:hover{
                box-shadow: inset 0 0 0 4px $blue, 0 0 1px rgba(0, 0, 0, 0);
                color: $blue;
            }
        }
        section.first-step-favorite{
            h2{
                @extend %roboto-slab;
                @extend %font-size-30;
                font-weight: 100;
                text-align: center;
                margin-bottom: 30px;
            }
            ul{
                margin: 0 auto;
                width: 85%;

                li{
                    margin: 0 20px;
                    list-style: none;
                    float: left;
                    display: block;

                    div{
                        color: $blue;
                        margin: 0 auto;
                        @extend %font-size-19;
                        text-transform: uppercase;
                        padding: 10px 30px;
                        font-weight: 100;
                        width: 250px;
                        text-align: center;
                        @extend %helvetica;
                        margin-bottom: 20px;
                        -webkit-transform: translateZ(0);
                          transform: translateZ(0);
                          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                          -webkit-backface-visibility: hidden;
                          backface-visibility: hidden;
                          -moz-osx-font-smoothing: grayscale;
                          -webkit-transition-duration: 0.3s;
                          transition-duration: 0.3s;
                          -webkit-transition-property: box-shadow;
                          transition-property: box-shadow;
                          box-shadow: inset 0 0 0 4px $blue, 0 0 1px rgba(0, 0, 0, 0);
                    }
                    div:hover{
                        box-shadow: inset 0 0 0 4px $pink, 0 0 1px rgba(0, 0, 0, 0);
                        color: $pink;
                        cursor: pointer;
                    }
                }
            }
            ul.small{
                width: 77%;
                li{
                    div{
                        text-transform: none;
                        width: 220px;
                        color: $gray;
                        box-shadow: inset 0 0 0 4px $gray, 0 0 1px rgba(0, 0, 0, 0);   
                    }
                    div:hover{
                        box-shadow: inset 0 0 0 4px $blue, 0 0 1px rgba(0, 0, 0, 0);   
                        color:$blue;
                    }
                }
            }
            .opacity{
                background-color: rgba(2, 2, 2, 0.4);
            }
            .img{
                width: 700px;
                height: 400px;
                margin: 20px auto;
                padding-top: 40px;
                h1{
                    color: $white !important;
                    text-transform: none;
                    @extend %roboto-slab;
                    font-weight: 100;
                    width: 550px;
                    margin: 40px auto;
                    @extend %font-size-40;  
                    padding: 10px 0;
                }
                ul{
                    margin: 0 auto;
                    width: 470px;
                    li{
                        @extend %roboto-slab;
                        list-style: none;
                        color: $white;
                        float: left;
                        width: 225px; 
                        font-weight: 100;
                        padding: 0 10px;
                        @extend %font-size-40;  
                        text-align: center;
                        margin: 0 5px;
                        strong.pink{
                            color: $pink;
                            font-weight: 100;
                        }
                        strong.blue{
                            color: $blue;
                            font-weight: 100;
                        }
                    }
                }
            }
        }

        section.login{
            margin: 50px 0;
            @extend %roboto-slab;
            background-color: $blue;
            width: 100%;
            .opacity{
                background-color: rgba(2, 2, 2, 0.4);
            }
            .img-login{
                float:right;
                width: 700px;
                height: 400px;
                h1{
                    color: $white !important;
                    text-transform: none;
                    @extend %roboto-slab;
                    font-weight: 100;
                    width: 550px;
                    margin: 40px auto;
                    @extend %font-size-40;  
                    padding: 10px 0;
                }
                ul{
                    margin: 0 auto;
                    width: 470px;
                    li{
                        @extend %roboto-slab;
                        list-style: none;
                        color: $white;
                        float: left;
                        width: 225px; 
                        font-weight: 100;
                        padding: 0 10px;
                        @extend %font-size-40;  
                        text-align: center;
                        margin: 0 5px;
                        strong.pink{
                            color: $pink;
                            font-weight: 100;
                        }
                        strong.blue{
                            color: $blue;
                            font-weight: 100;
                        }
                    }
                }
            }
            fieldset{
                float: left;
                width: 280px;
                h1{
                    float: left;
                    padding-left: 20px;
                    margin: 20px 0;
                    @extend %roboto-slab;
                    font-weight: 100;
                    color: $white;
                    text-transform: none;
                }
                ::-webkit-input-placeholder {
                   text-align: center;
                }
                :-moz-placeholder { /* Firefox 18- */
                   text-align: center;  
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                   text-align: center;  
                }

                :-ms-input-placeholder {  
                   text-align: center; 
                }
                form{
                    float: left;
                    input[type='text'],input[type='password'],input[type='email']{
                        width: 250px;
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-bottom: 10px;
                        border: none;
                        height: 30px;
                        text-align: center;
                        @extend %font-size-14;

                    }
                    input[type='checkbox']{
                        margin-left: 40px;
                        width:2em;
                        height:2em;
                        background-color: $white!important;
                    }
                }
                label{
                    color: $white;
                    @extend %roboto-slab;
                    font-weight: 100;
                    @extend %font-size-10;
                    width: 230px;
                    padding-left: 10px;
                    margin-bottom: 40px;
                    margin-right: 40px;
                }
            }
        }

        section.steps {
            @extend %helvetica;
            @extend %font-size-15;
            @extend %uppercase;
            color: $gray;
            font-weight: 700;
            margin: 16px auto;

            span.box {
                width: 316px;
                @extend %left;
                padding: 10px;
                text-align: center;
                display: inline-block;
                border: 2px solid $gray;
                @include transition(all 400ms ease-out);
            }

            span.box:hover {
                border-color: $blue;
                color: $blue;
            }

            i.icon-separator {
                @extend %left;
                @extend %font-size-25;
            }
        }
        .sharing-creativity{
            margin: 0 auto;
            width: 900px;
            p{
                @extend %open-sans;
                font-size: 24px;
                text-align: justify;
                padding: 0.5em 0;
             
            }
        }

        .special-features {
            margin-top: 16px;

            .left {
                @extend %left;
            }

            .right {
                @extend %right;
            }

            article {
                margin-top: 8px;
                background-color: $gray-2;
                color: $gray;
                text-align: center;
                padding: 16px;

                h2 {
                    @extend %font-size-45;
                    font-weight: 100;
                }

                p {
                    @extend %font-size-24;
                    font-weight: 100;
                }
            }
            article.left:nth-child(1), article.right:nth-child(2) {
                margin-top: 0;
            }
        }
    }

    .who-we-are {
        background-color: $blue;

        h1 {
            @extend %roboto-slab;
            @extend %font-size-35;
            text-align: center; 
            text-transform: none;
            color: $gray;
            padding: 16px 0;
        }

        article {
            padding: 16px 0;

            .col {
                @extend %font-size-22;
                @extend %roboto-slab;
                font-weight: 100;
                @extend %left;
                margin-left: 50px;
                color: $white;
                width: 300px;
                line-height: 150%;

                figure {
                    margin: 16px 0;
                    text-align: center;

                    img {
                        width: 100px;
                        margin: 10px 0;
                    }

                    figcaption {
                        h2 {
                            @extend %font-size-10;
                            @extend %open-sans;
                            @extend %uppercase;
                            @include transition(all 400ms ease-out);
                            width: 200px;
                            margin: 0 auto;
                            border: 2px solid $white;
                            cursor: pointer;
                        }

                        h2:hover {
                            border-color: $gray;
                            color: $gray;
                        }

                        p {
                            @extend %font-size-8;
                            line-height: 150%;
                        }
                    }
                }
            }

            .col.first-child {
                margin:0;
            }

            h2.title {
                @extend %font-size-45;
                font-weight: 100;
                color: $white;
                border-bottom: 2px solid $white;
                margin-top: 16px;
            }
        }
    }

    #portfolio {
        .center {
            h2 {
                @extend %font-size-45;
                text-align: center;
                margin-bottom: 16px;
                color: $gray;
            }

            .video {
                width: 341px;
                @extend %left;
            }
        }
    }

    .bg-image {
        background: url(../images/background-home.jpg) center no-repeat;

        h2 {
            margin-left: 150px;

            span {
                @extend %font-size-22;
                @extend %kelly-slab;
                @extend %uppercase;
                width: 585px    ;
                color: $blue;
                position: absolute;
                margin-top: 10px;
                margin-left: 50px;
            }
        }

        p {
            background-color: rgba(2, 2, 2, 0.4);
            width: 540px;
            margin: 0 auto;
            padding: 16px;
            color: $white;
            text-align: center;
            font-weight: 100;

            .small {
                @extend %font-size-30;
            }

            .normal {
                @extend %font-size-40;
            }
        }

        .blue {
            @extend %font-size-20;
            background-color: $blue;
            color: $gray;

            .font-pink {
                @extend %uppercase;
                @extend %font-size-13;
                color: $pink;
            }

            .font-white {
                @extend %uppercase;
                @extend %font-size-13;
                color: $white;
            }
        }
    }

    .newsletter {
        p {
            @extend %font-size-20;
            text-align: center;
            color: $gray;
            font-weight: 100;
        }

        form {
            @extend %open-sans;
            @extend %font-size-16;
            background-color: $gray;
            width: 550px;
            margin: 16px auto 0px;
            padding: 16px;

            label {
                color: $white;
                display: inline-block;
                margin-top: 8px;
            }

            div.social {
                float: right;
            }

            input {
                padding: 4px 8px;
                margin-top: 8px;
                border: none;
                color: $gray;
            }

            input[type=email] {
                width: 380px;
                float: left;
            }
            input[type=submit] {
                margin-left: 4px;
                float: right;
                background-color: $white;
            }
        }
    }
}

.player-large {
    background-color: $light-gray;
    padding: 16px;

    .controls {
        @extend %font-size-14;
        width: 292px;
        float: left;

        .icon-fast-forward, .icon-fast-rewind {
            @extend %font-size-25;
            @extend %absolute;
            margin-top: 10px;
        }

        .icon-play-arrow {
            @extend %font-size-40;
            margin-left: 30px;
        }

        a.info {
            @include transition(color 400ms linear);
            @extend %display-inline-block;
            @extend %absolute;
            margin-top: 18px;
            margin-left: 60px;
            font-weight: 300;
            color: $gray;
        }

        a.info:hover {
            color: $blue;
        }
    }

    .track {
        width: 450px;
    }

    .search-information {
        @extend %font-size-18;
        background-color: $white;
        border: 3px solid $gray;
        float: left;
        margin: 7px 10px;
        padding: 4px 16px;
        color: $gray;
        font-weight: 300;
    }
}

.track {
    background-color: rgba(68, 63, 63, 0.17);
    padding: 8px 16px;
    text-align: left;
    float: left;

    .icon-play-circle-outline {
        @extend %font-size-40;
        @extend %cursor-pointer;
        @extend %left;
        margin-top: -3px;
        color: $gray;
    }

    .icon-play {
        @extend %font-size-30;
        @extend %cursor-pointer;
        @extend %left;
    }

    p {
        position: relative;
        color: $gray;
        @extend %font-size-10;
        margin-left: 50px;

        .title {
            
        }
        .artist {
            opacity: 0.5;
        }
        .timer {

        }
        .progress-bar {

            .bar {
                background-color: rgba(68, 63, 63, 0.3);
                width: 100%;
                height: 5px;
                display: block;
            }

            .icon-progress-button {

            }
        }
        .volume {
            .icon-volume {
                color: $white;
            }
        }
        .time {
            
        }
    }
}

.listening {
    background-color: $gray-2;
    padding: 4px 8px;
    margin: 4px 0;

    div.text-center {
        width: 625px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        float: left;

        li {
            @extend %font-size-16;
            float: left;
            color: $blue;
            font-weight: 300;

            a {
                @include transition(all 400ms linear);
                color: $gray;
                margin-left: 40px;
            }
            a:hover {
                color: $blue;
            }
            a.active {
                color: $pink;
            }
        }
    }
}

.music-information {
    [class^=col-md-] {
        padding-right: 2px;
        padding-left: 2px;
    }
    [class^=col-md-]:first-child {
        padding-left: 0;
    }
    [class^=col-md-]:last-child {
        padding-right: 0;
    }

    .box-name {
        background-color: $gray-2;
        float: left;
        color: $gray;
        padding: 8px 16px;
        margin-right: 4px;
        margin-bottom: 4px;

        .title {
            @extend %font-size-20;
            font-weight: 300;
        }

        .subtitle {
            @extend %font-size-16;
            font-weight: 300;
        }

        .subtitle-2 {
            @extend %font-size-11;
            font-weight: 300;
        }

        .description {
            @extend %font-size-12;
            color: $gray;

            button {
                background-color: $gray;
                border: 0;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 8px 1px;
            }
        }
    }

    .box-name.height-1 {
        height: 100px;
    }

    .box-name.height-2 {
        height: 204px;
    }
}

nav.categories {
    float: left;
    border-top: 4px $gray solid;
    margin-top: -4px;

    ul {
        list-style: none;

        li {
            @extend %font-size-16;
            font-weight: 300;
            background-color: $gray-2;
            padding: 4px 8px;
            border-bottom: 3px solid $white;

            a {
                @include transition(all 400ms linear);
                color: $gray;
            }
            a:hover, a.active {color: $blue;}
        }
        li:nth-child(2n) {
            background-color: #E7E7E7;
        }
    }
}

table.default {
    float: left;
    border-top: 4px $gray solid;
    border-left: 4px $gray solid;
    margin-top: -4px;
    @extend %font-size-16;
    font-weight: 300;

    tr {
        td {
            padding: 16px 8px;

            span.icon {
                @extend %font-size-18;
            }

            span.blue {
                color: $blue;
            }
            span.pink {
                color: $pink;
            }
        }

        td.center {
            text-align: center;
        }
    }

    tr.music-row {
        td {
            padding: 8px;
        }
    }
}

footer {
    background-color: $gray;
    border-top: 8px solid $pink;
    padding: 16px;
    margin-bottom: -18px;

    div.center {
        width: 1024px;
        margin: 0 auto;

        ul {
            @extend %left;
            width: 256px;

            li:first-child {
                margin-bottom: 10px;
            }

            li {
                @extend %font-size-17;
                color: $white;
                font-weight: 100;
                line-height: 1;
                list-style: none;

                a {
                    @extend %font-size-7;
                    @include transition(color 400ms ease-out);
                    color: $white;
                }
                a:hover {
                    color: $blue;
                }
            }
        }
    }
}
